<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Food Services</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <a href="/"> <img class="header" src="https://i.pinimg.com/736x/a8/d1/9b/a8d19bfb6d5172adc87d65908c69137a.jpg"
                alt=""></a>
        <a href="/">
            <h2>Rockstar Dining Services🍴</h2>
        </a>
        <%if(!user) {%>
            <text></text>
            <a class="button" name="login" href="/login">Login</a>
            <a class="button" href="/new">SignUp</a>
            <%} else {%>
                <a class="button" name="menu" href="/newConnection">Create a new Event </a>
                <a class="button" name="menu" href="/profile">My profile </a>
                <a class="button" href="/logout">Logout</a>
                <%}%>
    </div>
    <hr class="solid">
    <div class="header-shadow">
        <a class="button" href="/connections">Events</a>
        <%if(user) {%>
            <text></text><text></text><text></text>
            <text class='right-name'> Welcome <%=user.firstName +'!' %></text>
            <%}%>

    </div>

    <% if(errorMessages.length> 0) {%>
        <% errorMessages.forEach(message=>{%>
            <div class='error'>
                <%=message%>
            </div>
            <%});%>
                <%}%>

                    <% if(successMessages.length> 0) {%>

                        <% successMessages.forEach(message=>{%>
                            <div class='success'>
                                <%=message%>
                            </div>
                            <%});%>
                                <%}%>