<div class="footer ">
    <div class="footer-content">
        <a class="button" name="about" href='/about'> About</a>
        <a class="button" name="contactUs" href='/contactUs'> Contact Us</a>
        <label> Ⓒ Rockstar's Dining Services </label>
        <a href="/"> <img
                src="https://www.kindpng.com/picc/m/1-14152_facebook-twitter-instagram-pinterest-facebook-twitter-facebook-icon.png"
                class="footer-image" alt="" /></a>
        <a href="/"> <img
                src="https://i.pinimg.com/236x/b7/91/26/b79126d537c628d7ac5429f7f84ffc8e--twitter-logo-twitter-icon.jpg"
                class="footer-image" alt="" /></a>
    </div>
</div>

</body>

</html>