<%- include('./partials/header.ejs')%>

    <div class="center">
        <img class="center_image" src="images/burger-food.gif" alt="">
        <div class="centered">
            <h1 class="image_text"> Ready to taste the heavenly food in our events??</h1>
        </div>
    </div>

    <%- include('./partials/footer.ejs')%>