<%- include('../partials/header.ejs')%>
    <div class="container">
        <p>
            About Rockstar Dining Services, <br />
            Platform to participate or create events with people, who are trying to host parties.
        </p>
    </div>
    <%- include('../partials/footer.ejs')%>